.section-nav {
  display: flex;
	justify-content: center;
	border-bottom: 1px solid #d3d3d3;
}

.section-nav > ul {
  display: flex;
}

.section-nav li {
  margin: 10px;
}

.section-nav li:hover {
  background-color: $light-gray;
}

.section-nav li:last-child:hover {
  text-decoration: underline;
}
