.section-nav {
  border-bottom: 1px solid $light-gray;
}

.section-nav > ul {
  display: flex;
  justify-content: center;
}

.section-nav li {
  margin: 10px;
}

.section-nav li:hover {
  background-color: $light-gray;
}

.section-nav li:last-child:hover {
  text-decoration: underline;
}
